*.[oad]
*.mo
*.gch
*.swp
Makefile.inc
acconf.h
acconf.h.in
aclocal.m4
autom4te.cache
config.log
config.status
configure
aegisub/desktop/aegisub.desktop
aegisub/libaegisub/libaegisub-3.0.so
aegisub/libaegisub/libaegisub-3.0.so.3
aegisub/reporter/reporter-3.0
aegisub/src/aegisub-3.0
aegisub/src/libresrc/bitmap.cpp
aegisub/src/libresrc/bitmap.h
aegisub/src/libresrc/default_config.cpp
aegisub/src/libresrc/default_config.h
aegisub/src/libresrc/default_config_platform.json
svn_revision
aegisub/tools/common-respack
aegisub/tools/osx-bundle.sed
