*~
*.suo
*.obj
*.exe
*.dll
*.pdb
*.swp
*.manifest
*.i
*.pch
*.dep
BuildLog.htm
*.idb
*.ilk
*.user
*.sln
*.ncb
config_windows.h
svn-revision.h
*.patch
*.vsp
*.orig
*.zip
svnmove.txt
*.ass
*.avi
*.mkv
*.y4m
*.sdf
*.srt
*.ts
Debug
Release
Win32
